@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}
body{
    border: 2px solid black;
    padding: 0;
    margin: 0;
}
.wrapper{
    border: 2px solid red;
}
.container{
    border: 2px solid tan;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
}
header{
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 98px;
}
.logo{
    border: 2px solid blue;
    max-width: 135px;
}
.menu{
    border: 2px solid lightseagreen;
    max-width: 381px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu_m{

}
li{

}
.btn{
    border-radius: 124px;
}
.download{

}
.block_container{
    border: 2px solid hotpink;
}
.first_block{
    border: 2px solid salmon;
    background-image: url("image/taptap1.png");
}
.block_center{
    width: 50%;
    margin: 0 auto;
}
.img_unicorn{
 max-width: 100%;
}
.unicorn_head{
    max-width: 100%;
}
.second_block{
    border: 2px solid black;
}
.text{

}
.third_block{
    border: 2px solid salmon;
}
.fourth_block{
    border: 2px solid salmon;
}
.fifth_block{
    border: 2px solid salmon;
}
.learn{

}
.six_block{
    border: 2px solid salmon;
}
.block_ot{
    border: 2px solid salmon;
}
.uni{

}
.seven_block{
    border: 2px solid salmon;
}
.dis{

}
.eight_block{
    border: 2px solid salmon;
}
.meet{

}
footer{
    border: 2px solid salmon;
}
.buttons{

}
.mini{

}
